@import "./components/Form/Form.scss";
@import "./components/Efectivo/Efectivo.scss";
@import "./components/FechaYHora/FechaHora.scss";
@import "./components/LoQueSea/LoQueSea.scss";
@import "./components/Tarjeta/Tarjeta.scss";
@import "./components/ThankyouPage/Thankyou.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
