$font: Maven Pro;

$border: 2em;

$box-shadow: 0 0.35em 0.7em rgba(0, 0, 0, 0.15);

$box-shadow-faded: 0 0 3em rgba(0, 0, 0, 0.08);

$text-shadow-header: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);

@mixin center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

@mixin title {
  font-family: $font;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: none;
}
